@import '../../styles/breakpoints.scss';
.home {
  position: relative;
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(350px, 25%) 1fr;
  grid-template-rows: 1fr;
  @include media('<=desktop') {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
